body{
    background-color: orange;
}



#boxwrapper{
    width: 870px;
    height: 870px;
    margin: 50px auto;

    
}

.box{
    width: 100px;
    height: 100px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.fizz{
    width:  100px;
    height: 100px;
    background-color: rgb(0, 238, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.buzz{
    width:  100px;
    height: 100px;
    background-color: rgb(0, 255, 85);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.fizzbuzz{
    width:  100px;
    height: 100px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}