body{
    background-color: #faab36;
}

h1{
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}



#boxwrapper{
    width: 870px;
    height: 870px;
    margin: 50px auto;

}

.box{
    width: 100px;
    height: 100px;
    background-color: #249ea0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px inset black;
    transition: all 0.1s ;
}

.box:hover{
    transform: scale(1.1);
    color: white;
}

.fizz{
    width:  100px;
    height: 100px;
    background-color: #25B396;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px inset black;
    transition: all 0.1s ;

}

.fizz:hover{
    transform: scale(1.1);
    color: white;
}

.buzz{
    width:  100px;
    height: 100px;
    background-color: #1E65A7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px inset black;
    transition: all 0.1s ;

}

.buzz:hover{
    transform: scale(1.1);
    color: white;
}

.fizzbuzz{
    width:  100px;
    height: 100px;
    background-color: #F3AD78;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px inset black;
    transition: all 0.1s ;
}

.fizzbuzz:hover{
    transform: scale(1.1);
    color: white;
}